In [2]:
import pandas as pd

In [3]:
df = pd.read_parquet('final_dataset.parquet')

In [4]:
df

,User_id,Date,meal,dishes__nutritions__name,dishes__nutritions__value,dishes__name,sequence
0,1,2014-09-14,MY food,Calories,412,"my - McDonalds Espresso Pronto® Flat White, 2 ...",1
1,1,2014-09-14,MY food,Carbs,29,"my - McDonalds Espresso Pronto® Flat White, 2 ...",1
2,1,2014-09-14,MY food,Fat,24,"my - McDonalds Espresso Pronto® Flat White, 2 ...",1
3,1,2014-09-14,MY food,Protein,21,"my - McDonalds Espresso Pronto® Flat White, 2 ...",1
4,1,2014-09-14,MY food,Sodium,258,"my - McDonalds Espresso Pronto® Flat White, 2 ...",1
...,...,...,...,...,...,...,...
11602637,9897,2015-03-15,Breakfast,Carbs,6,"Generic - Scrambled Eggs Ham and Cheese, 1 cup",1
11602638,9897,2015-03-15,Breakfast,Fat,21,"Generic - Scrambled Eggs Ham and Cheese, 1 cup",1
11602639,9897,2015-03-15,Breakfast,Protein,21,"Generic - Scrambled Eggs Ham and Cheese, 1 cup",1
11602640,9897,2015-03-15,Breakfast,Fiber,1,"Generic - Scrambled Eggs Ham and Cheese, 1 cup",1
11602641,9897,2015-03-15,Breakfast,Sugar,0,"Generic - Scrambled Eggs Ham and Cheese, 1 cup",1

In [5]:
df_pivot = df.pivot_table(index=['User_id', 'Date', 'meal', 'dishes__name', 'sequence'],
                          columns='dishes__nutritions__name',
                          values='dishes__nutritions__value',
                          aggfunc='first').reset_index()

df_pivot.columns.name = None

In [6]:
df_pivot

,User_id,Date,meal,dishes__name,sequence,Calcium,Calories,Carbs,Chol,Fat,...,Mon Fat,Ply Fat,Potass.,Protein,Sat Fat,Sodium,Sugar,Trn Fat,Vit A,Vit C
0,1,2014-09-14,MY food,"Grilld - Simply Grilled (Real), 1.25 burger",1,NaN,686,59,NaN,31,...,NaN,NaN,NaN,40,NaN,"1,105",9,NaN,NaN,NaN
1,1,2014-09-14,MY food,"Grilld - Snack Chips, 1 snack size",1,NaN,252,27,NaN,14,...,NaN,NaN,NaN,5,NaN,352,1,NaN,NaN,NaN
2,1,2014-09-14,MY food,"Gu Sports - Chomps, 8 pieces",1,NaN,180,46,NaN,0,...,NaN,NaN,NaN,0,NaN,100,22,NaN,NaN,NaN
3,1,2014-09-14,MY food,"Pauls - Smarter White Milk, 600 ml",1,NaN,342,34,NaN,12,...,NaN,NaN,NaN,24,NaN,402,34,NaN,NaN,NaN
4,1,2014-09-14,MY food,"Quest - Protein Bar Chocolate Peanut Butter, 1...",1,NaN,160,25,NaN,5,...,NaN,NaN,NaN,20,NaN,240,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1976335,9897,2015-03-03,Breakfast,Fiber One / General Mills - Soft-baked Cookies...,1,NaN,120,22,NaN,5,...,NaN,NaN,NaN,0,NaN,NaN,10,NaN,NaN,NaN
1976336,9897,2015-03-03,Breakfast,"Mcdonalds - Breakfast Sausage Burrito, 0.88 Bu...",1,NaN,263,23,NaN,14,...,NaN,NaN,NaN,11,NaN,NaN,2,NaN,NaN,NaN
1976337,9897,2015-03-04,Breakfast,"Mcdonalds - Breakfast Sausage Burrito, 0.88 Bu...",1,NaN,263,23,NaN,14,...,NaN,NaN,NaN,11,NaN,NaN,2,NaN,NaN,NaN
1976338,9897,2015-03-14,Breakfast,"Egg - Egglands Best - Large, 3 egg",1,NaN,180,0,NaN,12,...,NaN,NaN,NaN,18,NaN,NaN,0,NaN,NaN,NaN
1976339,9897,2015-03-15,Breakfast,"Generic - Scrambled Eggs Ham and Cheese, 1 cup",1,NaN,301,6,NaN,21,...,NaN,NaN,NaN,21,NaN,NaN,0,NaN,NaN,NaN

In [7]:
df1 = pd.DataFrame(df_pivot)

In [8]:
df1

,User_id,Date,meal,dishes__name,sequence,Calcium,Calories,Carbs,Chol,Fat,...,Mon Fat,Ply Fat,Potass.,Protein,Sat Fat,Sodium,Sugar,Trn Fat,Vit A,Vit C
0,1,2014-09-14,MY food,"Grilld - Simply Grilled (Real), 1.25 burger",1,NaN,686,59,NaN,31,...,NaN,NaN,NaN,40,NaN,"1,105",9,NaN,NaN,NaN
1,1,2014-09-14,MY food,"Grilld - Snack Chips, 1 snack size",1,NaN,252,27,NaN,14,...,NaN,NaN,NaN,5,NaN,352,1,NaN,NaN,NaN
2,1,2014-09-14,MY food,"Gu Sports - Chomps, 8 pieces",1,NaN,180,46,NaN,0,...,NaN,NaN,NaN,0,NaN,100,22,NaN,NaN,NaN
3,1,2014-09-14,MY food,"Pauls - Smarter White Milk, 600 ml",1,NaN,342,34,NaN,12,...,NaN,NaN,NaN,24,NaN,402,34,NaN,NaN,NaN
4,1,2014-09-14,MY food,"Quest - Protein Bar Chocolate Peanut Butter, 1...",1,NaN,160,25,NaN,5,...,NaN,NaN,NaN,20,NaN,240,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1976335,9897,2015-03-03,Breakfast,Fiber One / General Mills - Soft-baked Cookies...,1,NaN,120,22,NaN,5,...,NaN,NaN,NaN,0,NaN,NaN,10,NaN,NaN,NaN
1976336,9897,2015-03-03,Breakfast,"Mcdonalds - Breakfast Sausage Burrito, 0.88 Bu...",1,NaN,263,23,NaN,14,...,NaN,NaN,NaN,11,NaN,NaN,2,NaN,NaN,NaN
1976337,9897,2015-03-04,Breakfast,"Mcdonalds - Breakfast Sausage Burrito, 0.88 Bu...",1,NaN,263,23,NaN,14,...,NaN,NaN,NaN,11,NaN,NaN,2,NaN,NaN,NaN
1976338,9897,2015-03-14,Breakfast,"Egg - Egglands Best - Large, 3 egg",1,NaN,180,0,NaN,12,...,NaN,NaN,NaN,18,NaN,NaN,0,NaN,NaN,NaN
1976339,9897,2015-03-15,Breakfast,"Generic - Scrambled Eggs Ham and Cheese, 1 cup",1,NaN,301,6,NaN,21,...,NaN,NaN,NaN,21,NaN,NaN,0,NaN,NaN,NaN

In [9]:
df_final = df1.fillna(0)

In [10]:
df_final

,User_id,Date,meal,dishes__name,sequence,Calcium,Calories,Carbs,Chol,Fat,...,Mon Fat,Ply Fat,Potass.,Protein,Sat Fat,Sodium,Sugar,Trn Fat,Vit A,Vit C
0,1,2014-09-14,MY food,"Grilld - Simply Grilled (Real), 1.25 burger",1,0,686,59,0,31,...,0,0,0,40,0,"1,105",9,0,0,0
1,1,2014-09-14,MY food,"Grilld - Snack Chips, 1 snack size",1,0,252,27,0,14,...,0,0,0,5,0,352,1,0,0,0
2,1,2014-09-14,MY food,"Gu Sports - Chomps, 8 pieces",1,0,180,46,0,0,...,0,0,0,0,0,100,22,0,0,0
3,1,2014-09-14,MY food,"Pauls - Smarter White Milk, 600 ml",1,0,342,34,0,12,...,0,0,0,24,0,402,34,0,0,0
4,1,2014-09-14,MY food,"Quest - Protein Bar Chocolate Peanut Butter, 1...",1,0,160,25,0,5,...,0,0,0,20,0,240,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1976335,9897,2015-03-03,Breakfast,Fiber One / General Mills - Soft-baked Cookies...,1,0,120,22,0,5,...,0,0,0,0,0,0,10,0,0,0
1976336,9897,2015-03-03,Breakfast,"Mcdonalds - Breakfast Sausage Burrito, 0.88 Bu...",1,0,263,23,0,14,...,0,0,0,11,0,0,2,0,0,0
1976337,9897,2015-03-04,Breakfast,"Mcdonalds - Breakfast Sausage Burrito, 0.88 Bu...",1,0,263,23,0,14,...,0,0,0,11,0,0,2,0,0,0
1976338,9897,2015-03-14,Breakfast,"Egg - Egglands Best - Large, 3 egg",1,0,180,0,0,12,...,0,0,0,18,0,0,0,0,0,0
1976339,9897,2015-03-15,Breakfast,"Generic - Scrambled Eggs Ham and Cheese, 1 cup",1,0,301,6,0,21,...,0,0,0,21,0,0,0,0,0,0

In [11]:
df_final['dishes__quantity'] = df_final['dishes__name'].str.split(',').str[-1].str.strip()

In [12]:
df_final['dishes__name'] = df_final['dishes__name'].str.split(',').str[0].str.strip()

In [13]:
df_final.head(10)

,User_id,Date,meal,dishes__name,sequence,Calcium,Calories,Carbs,Chol,Fat,...,Ply Fat,Potass.,Protein,Sat Fat,Sodium,Sugar,Trn Fat,Vit A,Vit C,dishes__quantity
0,1,2014-09-14,MY food,Grilld - Simply Grilled (Real),1,0,686,59,0,31,...,0,0,40,0,"1,105",9,0,0,0,1.25 burger
1,1,2014-09-14,MY food,Grilld - Snack Chips,1,0,252,27,0,14,...,0,0,5,0,352,1,0,0,0,1 snack size
2,1,2014-09-14,MY food,Gu Sports - Chomps,1,0,180,46,0,0,...,0,0,0,0,100,22,0,0,0,8 pieces
3,1,2014-09-14,MY food,Pauls - Smarter White Milk,1,0,342,34,0,12,...,0,0,24,0,402,34,0,0,0,600 ml
4,1,2014-09-14,MY food,Quest - Protein Bar Chocolate Peanut Butter,1,0,160,25,0,5,...,0,0,20,0,240,2,0,0,0,1 bar (60 g)
5,1,2014-09-14,MY food,Quest Bar - Banana Nut Muffin Natural Protein Bar,1,0,170,25,0,5,...,0,0,20,0,260,2,0,0,0,60 g
6,1,2014-09-14,MY food,Quest Bar - Cookies and Cream,1,0,180,22,0,7,...,0,0,21,0,310,1,0,0,0,1 bar
7,1,2014-09-14,MY food,Tasti - Salted Caramel Protein Bar,1,0,196,15,0,10,...,0,0,10,0,176,7,0,0,0,40 g
8,1,2014-09-14,MY food,Uncle Tobys Australia - Vita Brits,1,0,176,33,0,1,...,0,0,5,0,195,0,0,0,0,3 Biscuits 33.3g
9,1,2014-09-14,MY food,my - McDonalds Espresso Pronto® Flat White,1,0,412,29,0,24,...,0,0,21,0,258,29,0,0,0,2 TALL

In [14]:
new_column_order = ['User_id', 'Date', 'meal', 'dishes__name', 'dishes__quantity',
                    'Calories', 'Carbs', 'Protein', 'Sodium', 'Sugar','Fat', 'Mon Fat',
                    'Ply Fat', 'Sat Fat', 'Trn Fat', 'Potass.', 'Calcium', 'Chol', 'Fiber', 'Iron',
                    'Vit A', 'Vit C', 'sequence',]

In [15]:
df_final_dataset = df_final[new_column_order].rename(columns={'dishes__name': 'Dishe name',
                                                   'dishes__quantity': 'Dishe Quantity', 'meal':'Meal', 'Carbs':'Carbohydrates',
                                                             'Mon Fat':'Monounsaturated Fat', 'Ply Fat':'Polyunsaturated Fat',
                                                             'Sat Fat':'Saturated Fat', 'Trn Fat':'Trans Fat', 'Potass':'Potassium',
                                                             'Chol':'Cholesterol', 'Vit A':'Vitamin A', 'Vit C':'Vitamin C',
                                                             'sequence':'Sequence'})

In [16]:
df_final_dataset.columns

Index(['User_id', 'Date', 'Meal', 'Dishe name', 'Dishe Quantity', 'Calories',
       'Carbohydrates', 'Protein', 'Sodium', 'Sugar', 'Fat',
       'Monounsaturated Fat', 'Polyunsaturated Fat', 'Saturated Fat',
       'Trans Fat', 'Potass.', 'Calcium', 'Cholesterol', 'Fiber', 'Iron',
       'Vitamin A', 'Vitamin C', 'Sequence'],
      dtype='object')

In [17]:
df_final_dataset

,User_id,Date,Meal,Dishe name,Dishe Quantity,Calories,Carbohydrates,Protein,Sodium,Sugar,...,Saturated Fat,Trans Fat,Potass.,Calcium,Cholesterol,Fiber,Iron,Vitamin A,Vitamin C,Sequence
0,1,2014-09-14,MY food,Grilld - Simply Grilled (Real),1.25 burger,686,59,40,"1,105",9,...,0,0,0,0,0,0,0,0,0,1
1,1,2014-09-14,MY food,Grilld - Snack Chips,1 snack size,252,27,5,352,1,...,0,0,0,0,0,0,0,0,0,1
2,1,2014-09-14,MY food,Gu Sports - Chomps,8 pieces,180,46,0,100,22,...,0,0,0,0,0,0,0,0,0,1
3,1,2014-09-14,MY food,Pauls - Smarter White Milk,600 ml,342,34,24,402,34,...,0,0,0,0,0,0,0,0,0,1
4,1,2014-09-14,MY food,Quest - Protein Bar Chocolate Peanut Butter,1 bar (60 g),160,25,20,240,2,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1976335,9897,2015-03-03,Breakfast,Fiber One / General Mills - Soft-baked Cookies...,1 cookie (31g),120,22,0,0,10,...,0,0,0,0,0,5,0,0,0,1
1976336,9897,2015-03-03,Breakfast,Mcdonalds - Breakfast Sausage Burrito,0.88 Burrito,263,23,11,0,2,...,0,0,0,0,0,1,0,0,0,1
1976337,9897,2015-03-04,Breakfast,Mcdonalds - Breakfast Sausage Burrito,0.88 Burrito,263,23,11,0,2,...,0,0,0,0,0,1,0,0,0,1
1976338,9897,2015-03-14,Breakfast,Egg - Egglands Best - Large,3 egg,180,0,18,0,0,...,0,0,0,0,0,0,0,0,0,1
1976339,9897,2015-03-15,Breakfast,Generic - Scrambled Eggs Ham and Cheese,1 cup,301,6,21,0,0,...,0,0,0,0,0,1,0,0,0,1

In [18]:
df_final_dataset.to_csv('final_data_set.csv', index = False)